$dark: #0a0b10;
$flagship: #1c1e2d;
$module: #2d3855;
$steel-01: #282f45;
$steel-02: #3b4668;
$steel-03: #657197;
$silver: #bac4e2;
$off-white: #f8f9fc;
$blue: #18d2ff;
$blue-ice: #f0f7fe;
$royal-blue: #20a0ff;
$royal-blue-dark: #256faf;
$green: #2ec495;
$green-dark: #2d8376;
$mint: #64d7d4;
$mint-dark: #4a8d98;
$purple: #a961e4;
$purple-dark: #564a94;
$red: #ea719d;
$red-dark: #7f5072;
$orange: #f89973;
$orange-dark: #94645f;
$yellow: #f9c36e;
$yellow-dark: #9a8261;

$primary: $blue;
$background: $flagship;
$list: var(--formant-color-primary-1);
$module-focused: var(--formant-color-primary-3);
$field: var(--formant-color-primary-2);
$highlight: var(--formant-color-primary-3);
$button: var(--formant-color-foreground-2);
$foreground: var(--formant-color-foreground-2);
$info: $royal-blue;
$warning: $purple;
$error: $orange;
$critical: $red;
$intervention: $green;
$board: $off-white;
$comment: $mint;
$annotation: $yellow;
$teleop: $blue;
$port-forwarding: $blue;
$command-request: $yellow;
$command-delivery: $yellow-dark;
$command-response: $yellow;
$custom: $mint;
$system: $purple;
$on-demand: $purple;
$modal: var(--formant-color-module-content);
$on-demand-missing: $purple-dark;
$list-viewed-color: var(--formant-color-primary-1);
$list-hover-color: var(--formant-color-primary-2);
$online: $primary;
$offline: $steel-03;

:export {
  primaryColor: $primary;
  backgroundColor: $background;
  listColor: $list;
  moduleColor: var(--formant-color-module-content);
  moduleFocusedColor: $module-focused;
  fieldColor: $field;
  highlightColor: $highlight;
  foregroundColor: $foreground;
  infoColor: $info;
  warningColor: $warning;
  errorColor: $error;
  criticalColor: $critical;
  interventionColor: $intervention;
  teleopColor: $teleop;
  portForwardingColor: $port-forwarding;
  commandRequestColor: $command-request;
  commandDeliveryColor: $command-delivery;
  commandResponseColor: $command-response;
  customColor: $custom;
  commentColor: $comment;
  annotationColor: $annotation;
  systemColor: $system;
  onDemandColor: $on-demand;
  onlineColor: $online;
  offlineColor: $offline;
  terminalBackground: $flagship;
  terminalBlack: $module;
  terminalBlue: $royal-blue;
  terminalBrightBlack: $steel-03;
  terminalBrightBlue: $royal-blue;
  terminalBrightCyan: $blue;
  terminalBrightGreen: $green;
  terminalBrightMagenta: $purple;
  terminalBrightRed: $red;
  terminalBrightWhite: $off-white;
  terminalBrightYellow: $yellow;
  terminalCursor: $silver;
  terminalCursorAccent: $silver;
  terminalCyan: $royal-blue;
  foreground: $steel-02;
  terminalGreen: $green-dark;
  terminalMagenta: $purple-dark;
  terminalRed: $red-dark;
  terminalSelection: $silver;
  terminalWhite: $off-white;
  terminalYellow: $silver;
  groupDefaultColor: $steel-03;
  graphCircleData: $blue;
  graphCircleRemainer: $steel-01;
}
